.pokemon_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    max-width: 240px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 27px -5px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 0px 27px -5px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 0px 27px -5px rgba(0, 0, 0, 0.63);
    padding:15px;
    min-width: 200px;
}

.pokemon_card>h1 {
    margin:0;
    font-weight: 600;
}

.pokemon_card>p{
    margin:2px;
}

.pokemon_card>img {
    width: 100px;
}
