@import '../utils/mixings.scss';

.pokemon_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    max-width: 240px;
    border-radius: 15px;
    @include shadow;
    min-width: 200px;
}

.pokemon_card>h1 {
    margin:0;
    font-weight: 600;
}

.pokemon_card>p{
    margin:2px;
}

.pokemon_card>img {
    width: 100px;
}
